<%= form_for recipe do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br>
  <p>Ingredients:<p>
  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |builder| %>
    <p> <%=builder.check_box %> <%= builder.label %></p>
  <% end %>
  <%= f.fields_for :ingredients do |i| %>
    <%= i.label :name, "Name" %>
    <%= i.text_field :name %><br>
  <% end %>
  <%= f.submit %>
<% end %>